In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/restaurant_info.csv")
df.head()

,restaurantname,pricerange,area,food,phone,addr,postcode
0,saint johns chop house,moderate,west,british,01223 353110,21 - 24 northampton street,c.b 3
1,restaurant alimentum,moderate,north,modern european,01223 413000,152 - 154 hills road,c.b 2
2,pizza hut cherry hinton,moderate,south,italian,01223 323737,g4 cambridge leisure park clifton way cherry h...,c.b 1
3,the gardenia,moderate,west,romanian,01223 356354,2 rose crescent city centre,c.b 2
4,loch fyne,moderate,centre,seafood,01223 362433,the little rose 37 trumpington street,c.b 2

In [10]:
df["quality"] =  np.random.choice(a=[False, True], size=(df.shape[0])) 
df["crowdedness"] =  np.random.choice(a=[False, True], size=(df.shape[0])) 
df["length_stay"] =  np.random.choice(a=[False, True], size=(df.shape[0])) 

df.to_csv("../data/restaurant_info.csv")